body {
    background-color: #fff0f0;
    padding: 1em;
}
.top-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-group {
    margin: 0.5em;
}
.form-group label {
    display: block;
    margin-bottom: 0.25em;
}
.form-group input,
.form-group select {
    width: 100%;
}
.button {
    display: block;
    margin: 0 auto;
}